body{
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	padding: 0;
	position: relative;
}

.center-column{
	margin: auto;
	width: 80%;
	padding-bottom: 5%;
}

h1{
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: #026983;
	font-size: 2rem;
}

img{
	width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

.nav{
	display: inline-block;
	width: 22%;
	align-content: center;
	text-decoration: none;
}

.nav h2{
	text-align: center;
	font-size: 1rem;
	color: #026983;
	font-weight: 400;
}

.nav h2:hover {
	font-weight: 700;
}

h3{
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 1.5rem;
}

#navigation{
	width: 90%;
	padding-left: 10%;
	padding-right: 10%;
	position: center;
}

.coverPhoto{
	width: 100%;
	height: 10%;
	padding-bottom: 3%
}

.coverPhoto img{
	width: 100%;

}

#intro{
	display: inline-block;
	float: left;
	width: 55%;
	padding-top: 0;
}

#beach2{
	width: 100%;
	height: auto;
	display: inline-block;
	margin: auto;
}

.sidePhoto{
	float: right;
	width: 40%;
	height: auto;
	max-width: 500px;
	display: inline-block;
	padding-left: 2%
}

#bottomBar{
	height: 2%;
	background-color: #026983;
	color: white;
	position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    font-size: .8rem;
    text-align: center;
    padding: 5px;
}

.clearer{
	clear: both;
}

#aboutConcour{
	display: inline-block;
	width: 35%;
	padding: 5%;
}

#concour1{
	display: inline-block;
	width: 50%;
}